{% extends "front-office/login/login.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-sm-3"></div>
        <aside class="col-sm-5">
            <h1>Login</h1>

            <div class="card">
                <article class="card-body ">
                    <a href="{#{{ path('register') }}#}" class="float-right btn btn-outline-primary">Registro</a>
                    <h4 class="card-title mb-4 mt-1">Login</h4>
                    <hr>
                    {% if error %}
                    <p class="text-danger text-center">
                        {{ error }}
                    </p>
                    {% endif %}
                    <form action="{{ path('login') }}" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" id="email" name="_username" value="{{ last_username }}">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" placeholder="******" type="password" id="password" name="_password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label> <input type="checkbox"> Save email </label>
                            </div> <!-- checkbox .// -->
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <div class="col-sm-3"></div>

    </div> <!-- row.// -->

{% endblock %}