{% extends "front-office/register/register.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-sm-3"></div>
        <aside class="col-sm-5">
            <h1>Registro</h1>

            <div class="card">
                <article class="card-body ">
                    <a href="{{ path('login') }}" class="float-right btn btn-outline-primary">Login</a>
                    <h4 class="card-title mb-4 mt-1">Registro</h4>
                    <hr>

                    {{ form_start(registrationForm) }}

                    <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ form_row(registrationForm.username) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ form_row(registrationForm.name) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ form_row(registrationForm.surnames) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ form_row(registrationForm.province) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ form_row(registrationForm.email) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                {{ form_row(registrationForm.password) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
                        </div> <!-- form-group// -->

                    {{ form_end(registrationForm) }}

                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <div class="col-sm-3"></div>

    </div> <!-- row.// -->

{% endblock %}