<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-fix" id="header-nav" role="navigation">
        <div class="container-fluid">

            <div id="search-menu">
                <a class="navbar-brand" href="{{ path('home') }}">Foro Programacion</a>

                {% if app.user is empty %}
                    <a class="btn navbar-form navbar-left ng-pristine ng-valid"
                       href="{{ path('login') }}">
                        <i class="fa fa-user"></i>
                        Iniciar Sesión
                    </a>
                    <a class="btn navbar-form navbar-left ng-pristine ng-valid"
                       href="{#{{ path('register') }}#}">
                        <i class="fa fa-user-plus"></i>
                        Registro
                    </a>

                {% else %}
                    <a class="navbar-form navbar-left ng-pristine ng-valid"
                       href="{#{{ router.generateURL('User', 'getUser') }}#}">
                        {{ app.user.username }}
                    </a>

                    {% if app.user %}
                        <a class="navbar-form navbar-left ng-pristine ng-valid"
                           href="{#{{ router.generateURL('Category', 'getAdminCategory') }}#}">
                            Back-Office
                        </a>
                    {% endif %}

                    <a class="btn navbar-form navbar-left ng-pristine ng-valid" href="{{ path('logout') }}">
                        <i class="fas fa-power-off"></i>
                        Cerrar Sesión
                    </a>
                {% endif %}
{#
                {% for categoryNavbar in categoriesNavbar %}
                    <div class="btn-group">
                        <div class="btn-group dropright">
                            <a type="button" class="btn btn-secondary"
                               href="{{ router.generateURL('Category', 'getCategory', {id_category: categoryNavbar.idCategory}) }}">
                                {{ categoryNavbar.title }}
                            </a>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropright</span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for forumNavbar in categoryNavbar.forums %}
                                    <li><a href="{{ router.generateURL('Forum', 'getForum', {id_category: categoryNavbar.idCategory, forumNavbar: forum.idForum}) }}">
                                            {{ forumNavbar.title }}
                                        </a></li>
                                    <li class="divider"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Idioma" %}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?lang=es">{% trans "Español" %}</a>
                        <a class="dropdown-item" href="?lang=va">{% trans "Catalán" %}</a>
                        <a class="dropdown-item" href="?lang=gb">{% trans "Inglés" %}</a>
                    </div>
                </div>#}

            </div>

        </div>
    </nav>

    <div class="jumbotron no-margin-bottom no-padding-bottom">
        <div class="container text-center">
            <div id="site-logo"><a href="{{ path('home') }}"
                                   title="Board index"><h2>Foro Programacion</h2></a></div>

        </div>
    </div>
</header>