{% extends "front-office/topic/topic.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{{ topic.title }}</h4>
            <p>{{ topic.description }}</p>
        </div>
    </div>


    {% for post in topic.posts %}
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title first pull-left">{{ post.title }}</h3>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body no-padding ">
                <div class="row no-margin">
                    <div class="col-md-3 col-xs-12 post-info post-info-left">
                        <dl id="profile108" class="no-margin-xs">
                            <dt class="avatar text-center rounded">
                                <img width="100" height="100"
                                     src="{{ target_dir }}{{ post.user.avatar }}" alt="avatar">
                            </dt>
                            <dd class="text-center">
                                <a href="{#{{ router.generateURL('Forum', 'getForumUser', {id_user: post.idUser}) }}#}">
                                    {{ post.user.username }}
                                </a>
                            </dd>

                        </dl>
                        <dl class="hidden-xs">
                            <dt>
                                <hr/>
                            </dt>
                            <!--<dd><strong>Posts:</strong> 88</dd>-->
                            <dd>
                                <strong>Joined:</strong> {{ post.user.dateAdd|date("Y-m-d H:i") }}
                            </dd>
                        </dl>
                    </div>

                    <div class="col-md-9 col-xs-12 post-content post-content-right">

                        <div class="row post-head hidden-xs no-margin-bottom">
                            <div class="col-md-6 col-xs-6 author">
                                by <strong><a href="{#{{ router.generateURL('Forum', 'getForumUser', {id_user: post.idUser}) }}#}">
                                        {{ post.user.username }}</a></strong> &raquo;
                                {{ post.dateAdd|date("Y-m-d H:i") }}
                            </div>
                            <div class="col-md-6 col-xs-6 no-padding">

                            </div>
                        </div>
                        <div class="content">
                            {{ post.text }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



{% endblock %}