{% extends "front-office/email/email_form.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <div class="row">



        <div class="col-sm-2"></div>
        <aside class="col-sm-7">
            <h1>Formulario de Contacto</h1>

            <div class="card">
                <article class="card-body ">
                    {{ form_start(EmailForm) }}

                    <div class="form-group">
                        <div class="input-group">
                            {{ form_row(EmailForm.name) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_row(EmailForm.email) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_row(EmailForm.subject) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_row(EmailForm.text) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <!-- form-group// -->
                    <div class="form-group">
                        {{ form_widget(EmailForm) }}
                    </div> <!-- form-group// -->

                    {{ form_end(EmailForm) }}

                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <div class="col-sm-3"></div>

    </div> <!-- row.// -->

{% endblock %}