{% extends "front-office/forum/forum.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    {% if forum %}
    <div class="page-header">
        <h2>{{ forum.title }}</h2>
        <p>{{ forum.description }}</p>
    </div>
    {% endif %}
    {#{% if userTopic %}
    <div class="page-header">
        <h2>{{ userTopic.userName }}</h2>
    </div>
    {% endif %}#}

    <div>
        <!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
    </div>

    <div class="row mobile-fix">

        <!--            <div class="col-md-3 col-xs-12">
                        (Actualmente no funciona)
                        <a class="btn btn-primary btn-labeled" href=""><span
                                    class="btn-label"><i class="fa fa-pencil-square-o"></i></span> Post a new topic</a>
                    </div>
        -->

        <div class="col-md-3 col-xs-12"></div>
        <div class="col-md-6 text-center col-xs-12">
            <div class="btn-group forum-pagination">
                {{ include('./pagination.html.twig', {paginator : topics, query: {'idForum' : forum.idForum, topic_filter : query.topic_filter}, router_name: 'forum_view_paginated'}) }}
            </div>
        </div>

        <div class="col-md-3 col-xs-12 pull-right">
            <div class="col">
                {{ form_start(TopicfilterForm) }}
                <div class="row">
                    {{ form_row(TopicfilterForm.text) }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(TopicfilterForm.startDate) }}
                    </div>
                    <div class="col">
                        {{ form_row(TopicfilterForm.endDate) }}
                    </div>
                </div>
                {{ form_widget(TopicfilterForm) }}
                {{ form_end(TopicfilterForm) }}
            </div>
        </div>


        <div class="col-md-6 col-xs-12">
            <p> Numero de Topics: {{ topics.numResults }}
                {#{% if search %}
            <p> Busqueda: {{ search }} </p>
            {% endif %}
                {% if dateIni %}
            <p> Fecha Inicio: {{ dateIni }} </p>
            {% endif %}
                {% if dateFin %}
            <p> Fecha Fin: {{ dateFin }} </p>
            {% endif %}#}

        </div>
    </div>

    <div class="forumbg table-responsive ">
        <table class="table table-striped table-bordered">
            <thead class="topiclist">
            <tr class="header">
                <th class="forum-name"><i class="fa fa-comments-o"></i> Topics</th>
                <th class="posts"><i class="fa fa-reply"></i> Replies</th>
                <th class="views"><i class="fa fa-eye"></i> Views</th>
                <th class="lastpost"><i class="fa fa-history"></i> <span>Last post</span></th>
            </tr>
            </thead>
            <tbody class="topiclist topics">

            {% for topic in topics.results %}
            <tr class="t-row">
                <td class="topic-name " title="No unread posts">
                    <div class="pull-left forum-topic-icon">
								<span>
{#                                    <?php if (!isset($forum)) $forum = $forumModel->getForumById($topic->getIdForum()); ?>#}
                                    <a href="{{ path('topic_view', {'idTopic' : topic.idTopic}) }}"
                                       class="btn btn-default btn-lg tooltip-link">
                                        <div class="">
                                            {% if vich_uploader_asset(topic, 'imageFile') %}
                                                <img width="32" height="32"
                                                     src="{{ vich_uploader_asset(topic, 'imageFile') }}">
                                            {% elseif topic.image %}
                                                <img width="32" height="32"
                                                     src="{{ target_dir }}{{ topic.image }}">
                                            {% else %}
                                                <img width="32" height="32"
                                                     src="{{ target_dir }}icon-folder.png">
                                            {% endif %}

                                        </div>
                                        <!--										<i class="fa fa-file-text-o fa-fw"></i>-->
								</a></span>
                    </div>
                   {# <div class="pull-right topic-pagination">
                        <div class="btn-group pagination-line">
                            <a class="btn btn-default btn-xs tooltip-link"
                               href="{{ path('topic_show', {'idTopic' : topic.idTopic}) }}"
                               title="Last post"><i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>#}
                    <div class="forum-topic-icon-mobile">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <a href="{{ path('topic_view', {'idTopic' : topic.idTopic}) }}"
                       class="topictitle">
                        <strong>{{ topic.title }}</strong>
                    </a>
                    <br/>
                    <small>by <a
                                href="{#{{{ router.generateURL('Forum', 'getForumUser', {id_user: topic.idUser}) }}}#}">
                            {{ topic.user.username }}
                        </a> &raquo;
                        {{ topic.user.dateAdd|date("Y-m-d H:i") }}</small>

                    {#{% if user %}
                    {% if user.idUser == topic.user.idUser %}
                    <a href="{{ router.generateURL('Topic', 'adminTopicEdit', {id_topic: topic.idTopic}) }}"
                    class="topictitle">
                    <strong>Editar</strong>
                    </a>
                    {% endif %}
                    {% endif %}#}
                </td>
                <td><span class="badge">No esta implementado</span></td>
                <td><span class="badge">No esta implementado</span></td>
                <td><span class="badge">No esta implementado</span></td>


            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

    <div class="row mobile-fix">

        <div class="col-md-3 col-xs-12"></div>
        <div class="col-md-6 text-center col-xs-12">
            <div class="btn-group forum-pagination">
                {{ include('./pagination.html.twig', {paginator : topics, query: {'idForum' : forum.idForum}, router_name: 'forum_view_paginated'}) }}
            </div>
        </div>

{% endblock %}